* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFBFA;
}

/* links */

a:link {
    color: #FDAD0D;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #FDAD0D;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #FDBA35;
    font-weight: bold;
}

/* selected link */
a:active {
    color: #BF3F36;
    text-decoration: none;
}



/* NAV */
header {
    background-color: #22282F;
    border-bottom: solid 4px #36BFB6;
    width: 100%;
    height: 100px;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: -1px;
    z-index: 1;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
}


.nav-bar {
    max-width: 1000px;
    margin: auto;
}

.nav-list {
    float: right;
    margin-top: 30px;

}

.nav-item {
    font-size: 1.8em;
    list-style-type: none;
    display: inline;
    margin: 0px 20px;
}


.logo {
    height: 150px;
    width: 150px;
    margin-top: -15px;
    margin-bottom: -40px;
    float: left;
    margin-left: 5%;
    /* background-image: url(/img/Logo-brightcyan-snow.png); */
    z-index: 2;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
}

.logo:hover {
    height: 155px;
    width: 155px;
}





/*Hero Banner*/
.hero {
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/mwoodsnetfile/w4b/main/img/main-background.jpg);
    height: 700px;
    background-position: bottom;
    background-repeat: no-repeat;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
    /* margin-bottom: 50px; */
    border-bottom: solid 5px #22282F;
}

.herogradient {
    width: 100%;
    position: relative;
    top: 100px;
    
}

.herotitle {
    padding-top: 10px;
    padding-left: 20%;
    background-color: #36BFB6;
    opacity: 90%;
    font-family: 'Rubik', sans-serif;
    font-size: 2em;   

}


/* MAIN */

.mainbody {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    padding: 50px;
    font-size: 16px;
    line-height: 1.5em;
    margin: auto;
    /* margin-top: 50px; */
    margin-bottom: 75px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
    /* border-top: solid 20px #22282F; */
}

.mainbodycontent{
    max-width: 1000px;
    margin:auto;
    text-align:justify;
    font-size: 1.5em;
    line-height: 1.5;

}



/* Call to Action */

.calltoaction {
    background-color: #36BFB6;
    width: 100%;
    height: 200px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
    margin-top: 50px;
    border-top: solid 2px #22282F;
    border-bottom: solid 2px #22282F;
}

.registerhere{
    max-width: 800px;
    margin: 50px auto;    
}

.clickthewater{
    float:left;
    width: 50%;
    padding-top: 20px;
    font-size: 1.5em;
}

.calltoactionimage{
    height:100px;
    width:auto;
    float: right;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
}

.calltoactionimage:hover{
    height: 105px;
    width: auto;
}

/*Courses*/
.courses {
    width: 100%;
    height: auto;
    /* border: solid 2px black; */
    margin-top: 50px;
    content: "";
    display: table;
    clear: both;
    background-color: #BF3F36;

}

.courses:after {
    content: "";
    display: table;
    clear: both;
}

.articletitle{
    text-align:center;
    font-size: 2em;
    padding-bottom: 50px;
    color: #f2f2f2;
}
.articlesection {
    max-width: 1200px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

.articlebox {
    width: 33.3%;
    float: left;
    height: 75%;
    padding-bottom: 100px;
}

.articlebox:hover{
    font-weight:bold;
}

.article {
    min-height: 300px;
    border: solid 5px #36BFB6;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
    margin: 0px 10px;
    box-sizing: border-box;

}

.articleicon {
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    background-color: #36BFB6;
    width: 100%;
}

a.articleicon:hover{
    color: #22282F;
}

.courseheaders {
    background: #36BFB6;
    text-align: center;
    padding: 2px;
}

.coursearticle {
    padding: 10px;
    text-align: justify;
    font-size: 1.3em;
    line-height: 1.5;
}

/* registration start */

input[type=text],
input[type=email],
input[type=phone],
select,
textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

label {
    width: 100px;
}

input[type=date],
input[type=checkbox] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    cursor: pointer;
}

input[type=color] {
    height: 30px;
    margin: 10px;
    border: unset;
    cursor: pointer;
}

.regsubmit {
    margin-top: 30px;
}


.colorlabel {
    margin-left: 20px;
}

input[type=submit] {
    background-color: #fdba35;
    color: #22282F;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}


input[type=submit]:hover {
    background-color: #fdb321;
}

.regmain {
    width: 100%;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
}

.regform {
    max-width: 600px;
    margin: Auto;
    font-size:1.3em;

}


/* Map */
.location{
    width:100%;
    background-color: #BF3F36;
    margin-top:50px;
    height: 400px;
}

.locationinfo{
    max-width: 1200px;
    padding: 50px 0px;
    margin:auto;
}

.map {
    float:right;
    width: 30%;
}

.mapinfo{
    color: #f2f2f2;
    font-size: 1.5em;
    width: 50%;
    border-right: solid 2px #f2f2f2;
    margin-left: 20px;
    float:left;
}



/* footer start */

footer {
    clear: left;
    width: 100%;
    height: auto;
    background-color: #22282F;
    border-top: 4px #36BFB6 solid;
    color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footerstack {
    max-width: 1000px;
    margin: 20px auto;
}

.footerstack:after {
    content: "";
    display: table;
    clear: both;
}

.footercol1 {
    float: left;
    width: 30%;
    padding: 10px;
}

.footercol2 {
    float: left;
    width: 70%;
    padding: 10px;
}

.footerfollow {
    text-align: center;
    font-size: 1.3em;
    float: left;
}

.footerlist {
    list-style-type: none;
}

.footericon {
    /* margin-left:50px; */
    padding-bottom: 20px;
    align-content: center;
    float: right;
}

.footernav {
    padding-top: 20px;
    font-size: 1.2em;
}


.footerlinks {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

hr {
    clear: both;
}

audio{
    margin-top: 20px;
}






/* footer end */